#contact-info
{
     padding-top: 1em;
     width: 100%;
     display: block;
     text-align: left;
     font-size: 5vh;
     padding-left: 14%;
}

#contact-info a
{
     color: #5D68BB;
}

.contact-icon
{
     height: 6vw;
}
