#project-display
{
     text-align: left;
     max-width: 70vw;
     margin: auto;
     font-size: 1.5em;
}

#project-display ul
{
     list-style-type: circle;
     font-family: avenir;
}

#project-display img
{
     width: 30vw;
     margin: 2vw;
}

#project-video
{
     width: 100%;
}

#project-video iframe
{
     width: 90%;
     height: 40vw;
     margin-left: 4%;
}

#project-links
{
     max-width: 70vw;
     margin: auto;
}

#project-links img
{
     width: 5vw;
}
