body
{
    width: 100%;
    height: 100%;
}

h1
{
    font-family: ralewayLight;
    font-size: 5em;
}

h2
{
    font-family: ralewayLight;
    border: 1px solid white;
}

h3
{
    font-family: ralewayLight;
    font-size: 1em;
}

p
{
    font-family: avenir;
    color: black;
}

a
{
    color: white;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.LinkButton
{
	color: white;
	background-color: #5D68BB;
	width: 20%;
	height: 7em;
     font-size: 0.75vw;
     overflow: hidden;
     border-radius: 1em;
     float: left;
     margin: 0.95em;
     text-align: center;
     padding-bottom: 2em;
}

.ActivePage
{
     background-color: #1b2679;
}

.LinkButton:hover
{
    background-color: #394284;
    -webkit-transition: height 0.5s;
}

.LinkButton h1
{
     margin: 0;
     padding: 0.1em;
}

#navbar-wrapper
{
     height: 7.5vw;
     display: block;
}

#navbar-wrapper-padding
{
     height: 6em;
     width: 100%;
     display: block;
}

.navbar
{
     width: 90%;
     margin: 0 auto;
     padding-left: 9%;
     height: 5em;
}

.navbar img
{
    -webkit-transition: width 0.5s, float 0.5s;
    transition: width 0.5s, float 0.5s;
    width: 5vw;
    float: left;
    margin-left: 0.5em;
}

.navbar img:hover
{
    width: 6vw;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.title
{
     font-size: 7.5vw;
}

.subtitle
{
     font-size: 3vw;
}

.ProjectIcon
{
    width: 3em;
}

#Resume
{
    top: 0;
    left: 0;
}

#SocialLinks
{
    height: 25%;
    top: 0;
    right: 0;
    background-color: #5D68BB;
}

#AllProjects
{
    bottom: 0;
    left: 0;
}

#Coursework
{
    bottom: 0;
    right: 0;
}

#TopCenterPanel
{
    margin: -10em auto 0 auto;
    width: 20em;
    height: 10em;
    background-color: #5D68BB;
    border-radius: 0 0 5em 5em;
    text-align: center;
    color: white;
    padding-top: 2em;
}

#Content
{
	margin: 5em;
	padding: 2em;
}

#PageTitle
{
    text-align: center;
    font-family: avenir;
}


@media screen and (min-width: 581px) and (max-width: 1440px)
{
    #PageTitle
    {
        padding-top: 1.5em;
        font-size: 7vw;
    }
}

@media screen and (min-width: 1440px)
{
    #PageTitle
    {
        padding-top: 2em;
        font-size: 4vw;
    }
}

@media screen and (max-width: 580px)
{
    #PageTitle
    {
        padding-top: 2em;
        font-size: 4vw;
    }
}

#ProjectList
{
    overflow: scroll;
    height: 35em;
    overflow-y: scroll;

}

#ProjectList a:visited
{
    color: black;
}

#social-icons
{
     position: absolute;
     right: 2vw;
     top: 2vh;
}

#social-icons img
{
     margin: 0.25em;
     width: 5vw;
}

@font-face
{
    font-family: ralewayLight;
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face
{
    font-family: avenir;
    src: url(../fonts/Avenir.ttc);
}
