body
{
     overflow: visible;
}

#projects
{
     display: none;
}

#proj-table
{
     max-width: 70%;
     margin: auto;
}

.col-sm-2
{
     margin: 2vw;
}

.proj-cell
{
     float: left;
     padding: 2vw;
}

img.proj-cell
{
     border-radius: 4em;
}

@media(max-width: 1000px)
{
     img.proj-cell
     {
          border-radius: 2em;
     }
}
