#project-display {
     text-align: left;
     max-width: 55em;
     margin: auto;
     font-size: 1.5em;
}

#project-display ul {
     list-style-type: circle;
}

#project-display img {
     width: 20em;
     margin: 2em;
}

#project-video iframe {
     width: 40em;
     height: 22.5em;
     margin: auto;
}
